<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>client.login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>register</servlet-name>
  	<servlet-class>client.register</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/servlet/register</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>donation</servlet-name>
  	<servlet-class>client.donation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>donation</servlet-name>
  	<url-pattern>/servlet/donation</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>modify</servlet-name>
  	<servlet-class>client.modify</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>modify</servlet-name>
  	<url-pattern>/servlet/modify</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>registerZ</servlet-name>
  	<servlet-class>client.registerZ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerZ</servlet-name>
  	<url-pattern>/servlet/registerZ</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>join</servlet-name>
  	<servlet-class>client.join</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>join</servlet-name>
  	<url-pattern>/servlet/join</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>activityAdd</servlet-name>
  	<servlet-class>client.activityAdd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>activityAdd</servlet-name>
  	<url-pattern>/servlet/activityAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>backLogin</servlet-name>
  	<servlet-class>back.backLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>backLogin</servlet-name>
  	<url-pattern>/servlet/backLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>memberAdd</servlet-name>
  	<servlet-class>back.memberAdd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>memberAdd</servlet-name>
  	<url-pattern>/servlet/memberAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>managerAdd</servlet-name>
  	<servlet-class>back.managerAdd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerAdd</servlet-name>
  	<url-pattern>/servlet/magagerAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>adminRec</servlet-name>
  	<servlet-class>back.adminRec</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>adminRec</servlet-name>
  	<url-pattern>/servlet/adminRec</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>modifyAct</servlet-name>
  	<servlet-class>client.modifyAct</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>modifyAct</servlet-name>
  	<url-pattern>/servlet/modifyAct</url-pattern>
  </servlet-mapping>
</web-app>